/* write your styles here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title {
    margin-bottom: 15px;
}
.country-search-title {
    text-align: center;
}
.radio-label {
    padding-left: 5px;
}
.mainBlock {
    margin-left: 20px;
}

.mainRadioBlock {
    margin-bottom: 15px;
}
#mySelect {
    width: 10%;
    margin-bottom: 20px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.table {
    width: 70%;
}
